// colors

$color-1: #588C7E; // Steel Blue
$color-2: #F2E394; // Ebony Clay
$color-3: #D96459; // Oarnge
$color-4: #F2AE72; // Burnt Red
$black:   #000000; // Black
$white:   #ffffff; // White
$blue:    #3996cc;
$green:   #1abc9c;
$red:	  #ec6952;
$yellow:  #f89d29;
$pink:    #f06060;
$purple:  #a06081;
$burgandy:rgb(100, 38, 57);
$base-color:$burgandy;
/*---------------------------------------*/
/*  VARIABLES
/*---------------------------------------*/
$body-bg:                       #1a1a1a;
$text-color:                    #222;
$light-text-color:				#b7ada4;
$font-family-sans-serif:        'Raleway', sans-serif;
$font-family-base:              $font-family-sans-serif;

// fonts 
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;
