/*-----------------------------------------------------------------------
/*  COMPONENT
/*  assets/less/component/component.less
/*-----------------------------------------------------------------------

3. BAR CHART

4. CONTENT BOXES
	4.1 CONTENT BOXES - STYLE ONE
	4.2 CONTENT BOXES - STYLE TWO
	4.3 CONTENT BOXES - STYLE THREE

10. PORTFOLIO
	10.1 PORTFOLIO HOVER EFFECT 1 - GROW
	10.2 PORTFOLIO HOVER EFFECT 2 - GROW ROTATE
	10.3 PORTFOLIO HOVER EFFECT 3 - SHRINK
	10.4 PORTFOLIO HOVER EFFECT 4 - SHRINK ROTATE
	10.5 PORTFOLIO HOVER EFFECT 5 - SLIDE IN LEFT
	10.6 PORTFOLIO HOVER EFFECT 6 - POP
	10.7 PORTFOLIO HOVER EFFECT 7 - POP ROTATE
	10.8 PORTFOLIO HOVER EFFECT 8 - PUSH
	10.9 PORTFOLIO HOVER EFFECT 9 - PUSH ROTATE

14. TIMELINE

-----------------------------------------------------------------------*/
/* IMPORT VARIABLES */
/*---------------------------------------*/
/*  VARIABLES
/*---------------------------------------*/
/*---------------------------------------*/
/*  COLORS
/*---------------------------------------*/
/*---------------------------------------------------------------------*/
/*  3. BAR CHART
/*---------------------------------------------------------------------*/
.bar-chart {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .bar-chart {
    margin-top: 5px;
    padding-left: 30px;
  }
}
.bar-chart .bar-chart-item {
  margin-bottom: 8px;
  height: 45px;
  background: #642639;
  border-radius: 2px;
  opacity: 0.8;
  overflow: hidden;
  white-space: nowrap;
}
.bar-chart .bar-chart-item > p {
  color: #fff;
  font-size: 14px;
  line-height: 45px;
  padding-left: 15px;
}
.bar-chart .bar-chart-legend {
  margin-top: 20px;
}
.bar-chart .bar-chart-legend:before {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 1px;
  margin-bottom: -10px;
  background: rgba(255, 255, 255, 0.8);
}
.bar-chart .bar-chart-legend > .legend {
  display: inline-block;
  float: left;
  width: 25%;
}
.bar-chart .bar-chart-legend > .legend p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.bar-chart .bar-chart-legend > .legend:before {
  display: block;
  position: relative;
  content: "";
  width: 1px;
  height: 10px;
  margin: auto;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.8);
}
.bar-chart .bar-chart-legend > .legend.legend-left:before {
  margin-left: 0;
}
.bar-chart .bar-chart-legend > .legend.legend-right {
  text-align: right;
}
.bar-chart .bar-chart-legend > .legend.legend-right:before {
  margin-right: 0;
}
/*---------------------------------------------------------------------*/
/*  10. PORTFOLIO
/*---------------------------------------------------------------------*/
.filter-portfolio ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
.filter-portfolio ul > li {
  display: inline-block;
  margin: 0px 3px 10px 3px;
}
.filter-portfolio ul > li.active > a {
  font-weight: 700;
}
.popup-portfolio {
  margin: 0 auto;
}
.popup-portfolio .portfolio-item {
  width: 270px;
}
@media (min-width: 600px) {
  .popup-portfolio .portfolio-item {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .popup-portfolio .portfolio-item {
    width: 273px;
  }
}
@media (min-width: 1024px) {
  .popup-portfolio .portfolio-item {
    width: 370px;
  }
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(100, 38, 57, 0.9);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: left;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: .3;
}
.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}
.portfolio-item {
  margin-bottom: 15px;
}
.portfolio-item > .inner-content {
  position: relative;
  display: block;
  overflow: hidden;
}
.portfolio-item > .inner-content:hover {
  cursor: pointer;
}
.portfolio-item > .inner-content:hover > .portfolio-content {
  display: block;
}
.portfolio-item > .inner-content > .portfolio-content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail {
  width: 100%;
  height: 100%;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  color: #fff;
  letter-spacing: 0.2em;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail a > .portfolio-text p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}
.portfolio-item > .inner-content > img {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/*---------------------------------------------------------------------*/
/*  10.1. PORTFOLIO HOVER EFFECT 1 - GROW 
/*---------------------------------------------------------------------*/
.portfolio-item.grow > .inner-content:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*---------------------------------------------------------------------*/
/*  10.2. PORTFOLIO HOVER EFFECT 2 - GROW ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.grow-rotate > .inner-content:hover > img {
  -webkit-transform: scale(1.2) rotate(4deg);
  transform: scale(1.2) rotate(4deg);
}
/*---------------------------------------------------------------------*/
/*  10.3. PORTFOLIO HOVER EFFECT 3 - SHRINK
/*---------------------------------------------------------------------*/
.portfolio-item.shrink > .inner-content:hover > img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.portfolio-item.shrink > .inner-content > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*---------------------------------------------------------------------*/
/*  10.4. PORTFOLIO HOVER EFFECT 4 - SHRINK ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.shrink-rotate > .inner-content:hover > img {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
.portfolio-item.shrink-rotate > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/*---------------------------------------------------------------------*/
/*  10.5. PORTFOLIO HOVER EFFECT 5 - SLIDE IN LEFT
/*---------------------------------------------------------------------*/
.portfolio-item.slide-in-left > .inner-content:hover > .portfolio-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.portfolio-item.slide-in-left > .inner-content > .portfolio-content {
  display: block;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/*---------------------------------------------------------------------*/
/*  10.6. PORTFOLIO HOVER EFFECT 6 - POP
/*---------------------------------------------------------------------*/
.portfolio-item.pop > .inner-content:hover > img {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.pop > .inner-content > img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*---------------------------------------------------------------------*/
/*  10.7. PORTFOLIO HOVER EFFECT 7 - POP ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.pop-rotate > .inner-content:hover > img {
  -webkit-animation-name: pop-rotate;
  animation-name: pop-rotate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.pop-rotate > .inner-content > img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes pop-rotate {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop-rotate {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*---------------------------------------------------------------------*/
/*  10.8. PORTFOLIO HOVER EFFECT 8 - PUSH
/*---------------------------------------------------------------------*/
.portfolio-item.push > .inner-content:hover > img {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.push > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
/*---------------------------------------------------------------------*/
/*  10.9. PORTFOLIO HOVER EFFECT 9 - PUSH ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.push-rotate > .inner-content:hover > img {
  -webkit-animation-name: push-rotate;
  animation-name: push-rotate;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.portfolio-item.push-rotate > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@-webkit-keyframes push-rotate {
  50% {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes push-rotate {
  50% {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
/*---------------------------------------------------------------------*/
/*  14. TIMELINE
/*---------------------------------------------------------------------*/
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
@media (min-width: 768px) {
  .timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: #e1e1e1;
  }
}
.timeline > li {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .timeline > li {
    margin-bottom: 20px;
  }
}
.timeline > li:last-child {
  margin-bottom: 0px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d6dddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel {
    float: left;
    width: 44%;
  }
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #d6dddd;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #d6dddd;
  }
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #642639;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #642639;
  }
}
.timeline > li > .timeline-panel > .timeline-heading > img {
  margin-bottom: 20px;
}
.timeline > li > .timeline-panel > .timeline-heading > .timeline-title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  background: #642639;
  padding: 20px;
}
.timeline > li > .timeline-panel > .timeline-body > p {
  color: #222222;
  font-size: 18px;
  padding: 0px 20px 10px 20px;
  border-bottom: solid 1px #4a1c2a;
  margin: 0px;
}
.timeline > li > .timeline-badge {
  display: none;
}
@media (min-width: 768px) {
  .timeline > li > .timeline-badge {
    display: block;
    z-index: 100;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #ccc;
  }
}
@media (min-width: 992px) {
  .timeline > li > .timeline-badge {
    top: 0;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    font-size: 80px;
    line-height: 80px;
  }
}
.timeline > li > .timeline-date {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .timeline > li > .timeline-date {
    position: absolute;
    left: 60%;
  }
  .timeline > li > .timeline-date > p {
    font-size: 150px;
    line-height: 100px;
    z-index: 100;
    color: #642639;
    text-shadow: 1px 1px #89344e;
    margin: 0px;
    padding: 0px;
  }
  .timeline > li > .timeline-date > p.rotate-90 {
    font-weight: 700;
    position: absolute;
    font-size: 45px;
    left: -55px;
    z-index: 50;
    /* Border is the new background */
    background: none;
    color: #3f1824;
    text-shadow: 1px 1px #642639;
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
.timeline > .timeline-image {
  display: none;
}
@media (min-width: 768px) {
  .timeline > .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #642636;
  }
}
.timeline > li.timeline-inverted > .timeline-date {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-date {
    position: absolute;
    width: 44%;
    left: 0px;
  }
  .timeline > li.timeline-inverted > .timeline-date > .push-right {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-date > .push-right > p {
    font-size: 150px;
    line-height: 100px;
    z-index: 100;
    color: #642639;
    text-shadow: 1px 1px #89344e;
    margin-left: -40px;
    padding: 0px;
  }
  .timeline > li.timeline-inverted > .timeline-date > .push-right > p.rotate-90 {
    font-weight: 700;
    position: absolute;
    font-size: 45px;
    float: right;
    margin-left: -100px;
    margin-top: -10px;
    z-index: 50;
    /* Border is the new background */
    background: none;
    color: #3f1824;
    text-shadow: 1px 1px #642639;
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}
